<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="webhook" class="io.sip3.logback.WebhookAppender">
        <filter class="io.sip3.logback.filters.RateLimitFilter">
            <maxSize>2</maxSize>
            <period>1</period>
        </filter>
        <url>http://127.0.0.1:34343/webhook</url>
        <json>
            {
                "message" : "{message}"
            }
        </json>
        <pattern>Hello.*</pattern>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="webhook" />
    </root>
</configuration>